<div class="rVideo">
    <a href="#">
        <img src=<%= thumbnailSrc %>>
    </a>
    <div class="rVideoInfo">
        <a class="rVideoTitle" href="#"><%= videoTitle %></a>
        <a class="rVideoUploader" href="#"><%= uploaderName %></a>
        <div class="rVideoBottom">
            <p><%= videoViews %></p>
            <p><%= createdAt %></p>
        </div>
    </div>
</div>